@import url('https://fonts.googleapis.com/css?family=Akronim|Monoton|Press+Start+2P|Sacramento|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap');

body{
  background:url(stars.jpg);
}

h1 {
  color: yellow;
  font-weight: bold;
  font-size: 4em;
  font-family: 'Lacquer'; 
}

h2 {
  colour: #fffcb3;
  font-weight: bold;
  font-size: 3.5em;
  font-family: 'Creepster';
}

h3 {
  color:#fffcb3;
  font-weight: bold;
  font-size: 1.9em;
  font-family: 'Ewert';

}

h4 {
  color:white;
  font-weight: bold;
  font-size: 1.5em;
  font-family: 'Sacramento';
}

h5 {
  color: white;
  font-weight: normal;
  font-size: 1.5em;
  font-family: 'Sacramento';
}

p {
  color:white;
  font-style: normal;
  font-size: 1.3em;
  font-family: 'VT323';
}


ul {
  color:white;
  font-style: normal;
  font-size: 1.3em;
  font-family: 'VT323';
}

img {
  background:white;
  filter: sepia(60%) hue-rotate(90deg);
}

.profilepic {
  border-radius: 20%;
  float: right;
  border-image: url(stars.png) 30 round;
  border:"5"
}

.header {
  padding: 50px;
  text-align: center;
  background:url("PIA13005_medium.jpg");
  color: white;
  font-size: 30px;
}


/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%; /* Set the width of the sidebar */
  background:url("PIA21519_orig.jpg");
  background-color: #f0f0f0; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 75%; /* Set the width of the main content */
  padding: 20px; /* Some padding */
  background: url(stars.jpg);

}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  margin: 5%;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-content: center;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  padding-bottom: 120px;
  background:url("PIA09653_orig.jpg");

}


.griditem {
  vertical-align: bottom;
  background:url("PIA09653_medium.jpg");
}


.headingIcon{
vertical-align: text-bottom;
}