@import url('https://fonts.googleapis.com/css?family=Akronim|Monoton|Press+Start+2P|Sacramento|Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lacquer&display=swap');
@import url('https://fonts.googleapis.com/css?family=Trade+Winds&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ewert&display=swap');

body {
	margin-left: 15%;
  margin-right: 15%;
  font-style: normal;
}

h1 {
  font-weight: bold;
  font-family: 'Lacquer'; 
  font-size: 5em;
}

h2 {
  font-weight: bold;
  font-family: 'Creepster';
  font-size: 4em;
}

h3 {
  font-weight: bold;
  font-family: 'Ewert';
  font-size: 3.5em;
}

h4 {
  font-weight: bold;
  font-size: 3em;
  font-family: 'Sacramento';
}

h5 {
  font-weight: bold;
  font-size: 2.1em;
  font-family: 'Sacramento';
}

p {
	font-style: normal;
	font-size: 2em;
  font-family: 'VT323';
}


.profilepic {
  border-radius: 50%;
  float: right;
}

.header {
  padding: 60px;
  text-align: center;
  background: #b08e07;
  color: white;
  font-size: 30px;
}



/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #b08e07; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-content: center;
  grid-row-gap: 20%;
  grid-column-gap: 10%;
}

body {

  font-style: normal;
  font-size: 1.3em;
  font-family: 'Merriweather Sans';
}

h1 {
  color: white;
  font-weight: bold;
  font-size: 4em;
}

h2 {
  font-weight: bold;
  font-size: 2em;
}

h3 {
  font-weight: bold;
  font-size: 1.2em;
}

h4 {
  font-weight: bold;
  font-size: 1.2em;
}

p {
  font-style: normal;
  font-size: 1em;
}

img {
  
}

.profilepic {
  border-radius: 50%;
  float: right;
}

.header {
  padding: 60px;
  text-align: center;
  background: #c8e6dd;
  color: white;
  font-size: 30px;
}



/* Ensure proper sizing */
* {
  box-sizing: border-box;
}

/* Column container */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%; /* Set the width of the sidebar */
  background-color: #f0f0f0; /* Grey background color */
  padding: 20px; /* Some padding */
}

/* Main column */
.main {
  flex: 70%; /* Set the width of the main content */
  background-color: white; /* White background color */
  padding: 20px; /* Some padding */
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}


.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  justify-content: space-evenly;
  align-content: center;
  grid-row-gap: 20%;
  grid-column-gap: 10%;
}